@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$family: "Poppins", sans-serif;

$black: #000501;
$white: #fff;
$softBlue: #ade1e5;
$strongBlue: #79c7c5;
$softGreen: #99d19c;
$strongGreen: #73ab84;
